@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #1a0618;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 70px;
}

.navbar .logo {
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: 700;
}

.navbar .logo span {
  color: #12f7ff;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-weight: 500;
}

.links li a:hover {
  color: #12f7ff;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 21px;
}

.active-nav {
  color: #12f7ff !important;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.hero {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 80px;
  width: 100%;
}

#front-end {
  color: #12f7ff;
  padding: 0 7px;
}

#line-front {
  border-right: 3px solid #12f7ff;
  animation: front-end 0.5s infinite linear alternate;
}

.left-sec h2 {
  margin: 10px 0;
}

.left-sec p {
  margin: 10px 0;
}

.social-txt {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.social-txt p {
  padding: 10px 30px;
  margin-left: -30px;
  color: #c1c4c7;
}

.social-txt p a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.5s;
}

.social-txt p a:hover {
  color: #12f7ff;
}

.hero-btn {
  margin-top: 10px;
}

.hero-btn button {
  padding: 15px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins";
  cursor: pointer;
  margin-right: 15px;
}

.hero-btn button:nth-child(1) {
  background-color: #12f7ff;
}

.hero-btn button:nth-child(1):hover {
  color: #12f7ff;
  background-color: transparent;
  border: 4px solid #12f7ff;
  filter: drop-shadow(0 0 1rem #12f7ff);
}

.hero-btn button:nth-child(2) {
  background-color: transparent;
  border: 4px solid #12f7ff;
  box-shadow: 0 0 0.5rem #12f7ff;
}

.hero-btn button:nth-child(2) a {
  color: #12f7ff;
  text-decoration: none;
}

.hero-btn button:nth-child(2):hover {
  filter: drop-shadow(0 0 1rem #12f7ff);
  box-shadow: 0;
}

.social-icons {
  display: flex;
  margin-top: 22px;
}

.social {
  margin-right: 10px;
  border: 2px solid #12f7ff;
  border-radius: 5px;
  padding: 4px 10px;
}

.social i {
  color: #12f7ff;
}

.social i:hover {
  filter: drop-shadow(0 0 1rem #12f7ff);
}

.right-sec .border {
  width: 100%;
  height: 100%;
  background-color: #12f7ff;
  border-radius: 100% 0% 66% 34%/48% 100% 0% 52%;
}

.right-sec .border img {
  width: 550px;
  height: 550px;
  transform: translateX(1%) translateY(2%) rotate(1deg);
  z-index: -10;
  border-radius: 90px;
}

.about {
  background-color: #292e33;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.left-sec-about img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid #12f7ff;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
}

.right-sec-about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}

.right-sec-about h2 {
  color: #12f7ff;
  letter-spacing: 1.1px;
}

#read-more {
  padding: 10px;
  border-radius: 5px;
  background-color: #12f7ff;
  border: none;
  outline: none;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
  transition: 0.5s;
}

#read-more a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#read-more:hover {
  background-color: #09b9c0;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.services h2 {
  color: #12f7ff;
  letter-spacing: 1.1px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 100px;
}

.coding {
  margin-right: 20px;
}

.coding, .translator, .resume-writer {
  background-color: #292e33;
  height: 420px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
}

.coding i, .translator i, .resume-writer i {
  background-color: #1a0618;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #12f7ff;
  font-size: 30px;
  padding-top: 19px;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
}

.coding #job-title, .translator #job-title, .resume-writer #job-title {
  font-weight: 600;
  letter-spacing: 1.4px;
}

.coding #job-title, .translator p, .resume-writer p {
  text-align: center;
  margin: 20px;
}

.coding button, .translator button, .resume-writer button {
  padding: 10px;
  border-radius: 10px;
  background-color: #12f7ff;
  border: none;
  outline: none;
  filter: drop-shadow(0 0 0.2rem #12f7ff);
}

.coding button {
  margin-top: 39px;
}

.translator button {
  margin-top: 65px;
}

.resume-writer button {
  margin-top: 20px;
}

.coding button a, .translator button a, .resume-writer button a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
}

.coding button:hover, .translator button:hover, .resume-writer button:hover {
  background-color: transparent;
  border: 4px solid #12f7ff;
  filter: drop-shadow(0 0 2rem #12f7ff);
}

.coding button:hover a, .translator button:hover a, .resume-writer button:hover a {
  color: #12f7ff;
}
.skills{
  background-color: #12f7ff57;
  width: 100%;
  padding-bottom: 30px;
}
.skills-head{
 text-align: center;
 padding-top: 30px;
}
.skills-head p{
   color: #c1c4c7;
}
.skills-head h2{
   color: #12f7ff;
   letter-spacing: 1.1px;
}

.skills-body-row{
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
}

.skill img{
   width: 100px;
   margin: auto;
}

.skill{
   width: 200px;
   height: 200px;
   background-color: #1a0618;
   padding: 20px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* // filter: drop-shadow($neonBoxShadow); */
}
.skill:hover{
  transform: scale(1.02);
}
.skill p{
   color: white;
   text-align: center;
   font-size: 20px;
   /* // padding-bottom: 30px; */
}
.portfolio {
  background-color: #1a0618;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.upper-sec-portfolio h2 {
  color: #12f7ff;
  letter-spacing: 1.1px;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.project {
  display: flex;
  flex-direction: column;
}

.projectImg {
  width: 400px;
  height: 250px;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
  cursor: pointer;
}

.projects .project img:hover {
  transform: scale(1.05);
}

.project button span a {
  color: #1a0618;
  text-decoration: underline;
}

.live {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  width: 400px;
  height: 50px;
  margin-top: 20px;
  padding: 0 20px;
  font-size: 18px;
  font-family: "Poppins";
  filter: drop-shadow(0 0 0.3rem #12f7ff);
}

.liveImg {
  width: 50px !important;
  height: 50px !important;
  margin-top: 5px;
}

.hover:hover {
  color: #015153;
}

.contact {
  background-color: #292e33;
  text-align: center;
  color: white;
  padding: 30px;
}

.upper-sec-contact h2 {
  color: #12f7ff;
}

.forms form input, .forms form textarea {
  display: block;
  margin: auto;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #1a0618;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.forms form textarea {
  height: 100%;
}

.forms form input::-moz-placeholder, .forms form textarea::-moz-placeholder {
  font-size: 14px;
}

.forms form input::placeholder, .forms form textarea::placeholder {
  font-size: 14px;
}

.btn-sub {
  width: 300px;
  height: 40px;
  margin: 20px 0;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #12f7ff;
  font-size: 18px;
  filter: drop-shadow(0 0 0.5rem #12f7ff);
}

@media screen and (max-width: 600px) {
  .loader {
    font-size: 30px;
  }
  .toggle-button {
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .links ul {
    flex-direction: column;
    width: 100%;
  }
  .links ul li {
    text-align: center;
  }
  .navbar .active {
    display: flex;
  }
  .hero {
    padding: 10px;
  }
  .right-sec {
    display: none;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .social-txt p {
    font-size: 12px;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .left-sec-about img {
    width: 300px;
    height: 300px;
  }
  .right-sec-about {
    text-align: center;
    padding: 10px;
    align-items: center;
  }
  .experience {
    flex-direction: column;
    padding: 10px;
  }
  .coding {
    margin-right: 0;
  }
  .coding, .translator, .resume-writer {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  .services h2 {
    color: #12f7ff;
    letter-spacing: 1.1px;
  }
  .skills-body-row {
    flex-direction: column;
    align-items: center;
  }
  .skill {
    margin-top: 32px;
  }
  .projects {
    flex-direction: column;
  }
  .project {
    margin-top: 20px;
  }
  .live {
    filter: drop-shadow(0 0 0);
  }
  .projectImg {
    width: 350px;
  }
  .forms form input, .forms form textarea {
    width: 80%;
  }
  .live {
     width: 300px;
     margin: 35px auto 20px auto;
  }
}
@keyframes front-end {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  transition: all 3s;
}

.show {
  opacity: 1;
} /*# sourceMappingURL=main.css.map */